<ion-view title="Dashbord">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Skole</h2>
                <p>elevnavn</p>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item ui-sref="fravæR">Sykmelding</ion-item>
        </ion-list>
        <form class="list"></form>
        <form class="list"></form>
        <div class="spacer" style="width: 279px; height: 270px;"></div>
        <a ui-sref="login" class="button button-assertive button-block ">Log out</a>
    </ion-content>
</ion-view>
