<ion-view title="Fravær">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="sykmeldingtekst">
                <span class="input-label">Melding</span><textarea placeholder=""> </textarea>
            </label>
            <ion-checkbox name="checkknapp">Check-knapp</ion-checkbox>
        </form>
        <div class="spacer" style="width: 279px; height: 200px;"></div>
        <a ui-sref="tabsController.dashbord" class="button button-balanced button-block ">Send inn</a>
        <a ui-sref="tabsController.dashbord" class="button button-assertive button-block ">Avbryt</a>
    </ion-content>
</ion-view>
